<!DOCTYPE html>
<html>
	<head>
		<title>TITLE</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/bootstrap.min.css">
		<script src="../static/jquery.min.js"></script>
	</head>
	<body>
		<div class="jumbotron text-center">
			<div class="container">
				<h1>REMOTE GPIO CONTROL</h1>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron text-center">
				<div class="mid-please">
					<button class="btn btn-large" onclick="turnon()">ON</button>
					<button class="btn btn-large btn-primary" onclick="turnoff()">OFF</button>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			function turnon() {
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/turnon", false);
				xhr.send();
			}

			function turnoff() {
				var xhr = new XMLHttpRequest();
				xhr.open("GET", "/turnoff", false);
				xhr.send();
			}

		</script>
	</body>
</html>