<!DOCTYPE html>
<html>
	<head>
		<title>TITLE</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
		<script src="../../bootstrap/js/jquery.min.js"></script>
	</head>
	<body>
		<div class="jumbotron text-center">
			<div class="container">
				<!-- <h1>HEADING &nbsp; <small>FOOTER</small></h1> -->
			</div>
		</div>
		<div class="container">
			WOWEEE ITS WORKING WHEEEEEE
		</div>
	</body>
</html>